.reffOne.my-4
    .d-flex.justify-content-between 
        div 
            h4=reff.RefName
            h4=reff.RefJob
                span  at 
                span=reff.RefAt
            h5 Email: 
                span=reff.RefMail
            h5 Phone: 
                span=reff.RefPhone
            
//- h4=reff.RefName