.reffOne.my-1(class=side ==='main' ? "item-circle" : "")
    .ps-4
        h6.fw-bold=reff.RefName
        h6.fw-normal=reff.RefJob
        div 
            p Email:
                span=reff.RefMail
            p Phone:
                span=reff.RefPhone